.heroSection_grid_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 75%;
  margin: auto;
  /* background-color: aqua; */
}
.carousel_left_side {
  /* background-color: red; */
  width: 100%;
  text-align: left;
}
.carousel_left_side h1 {
  font-size: 40px;
}
.carousel_left_side p {
  font-size: 1.25rem;
  color: #392c7d;
  font-weight: 500;
}
.mySwiper {
  width: 50%;
  margin-top: 30px;
  z-index: 0;
  /* background-color: rebeccapurple; */
}
.slider_img {
  width: 120%;
}
@media screen and (max-width: 1536px) {
  .heroSection_grid_div {
    width: 85%;
  }
}
@media screen and (max-width: 1300px) {
  .heroSection_grid_div {
    width: 90%;
  }
}
@media screen and (max-width: 1167px) {
  .heroSection_grid_div {
    width: 95%;
  }
}
@media screen and (max-width: 1105px) {
  .heroSection_grid_div {
    grid-template-columns: 1fr;
  }
  .carousel_left_side {
    /* background-color: red; */
    /* width: 100%; */
    text-align: center;
  }

  .slider_img {
    width: 100%;
  }
}
