.navigation_parent_div {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 10px 20px;
}

.navbar__logo img {
  height: 60px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__item {
  margin: 0 15px;
}

.navbar__item a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.navbar__user img {
  height: 40px;
  border: 3px solid rgb(207, 207, 207);
  border-radius: 50%;
  cursor: pointer;
}
.login_div {
  background-color: white;
  padding: 5px 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  width: 8%;
  margin-left: auto;
  margin-right: 100px;
  border-radius: 5px;
  /* display: none; */
  margin-bottom: -50px;
  margin-top: 20px;
}
.Login {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.span_login {
  margin-left: 25px;
}
.navbar__toggle {
  display: none;
  font-size: 24px;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar__toggle:focus {
  outline: none;
}

@media (max-width: 768px) {
  .navbar__menu {
    display: none;
    flex-direction: column;
    width: 40%;
    height: 800%;
    position: absolute;
    top: 84px;
    left: 0;
    background-color: #333;
    text-align: left;
  }

  .navbar__item {
    margin: 15px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.466);
    padding-bottom: 30px;
  }

  .navbar__item a {
    color: white;
    margin-left: 30px;
  }
  .navbar__toggle {
    display: block;
  }

  .navbar.active .navbar__menu {
    display: flex;
  }
}
