.stepsForSuccess_parent_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 75%;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
}
.stepsForSuccess_left_div {
  height: 450px;
}

.stepsForSuccess_logo_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
  border: 2px solid rgb(236, 236, 236);
  border-radius: 15px;
}

.two_cart_flex_div {
  display: flex;
  width: 104%;
  margin: auto;
  gap: 20px;
}
.logo {
  height: 3rem;
}
.join {
  width: 45%;
}
